#title1 {
    color: blueviolet;
}
#weather {
    font-weight: bold;
    color: red;
}
#title2 {
    color: green;
}
#location {
    font-weight: bold;
}
#notice {
    color: blue;
    font-weight: bold;
}