@import url('https://fonts.googleapis.com/css2?family=Moirai+One&family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Diphylleia&family=Moirai+One&family=Nanum+Pen+Script&display=swap');

h1 {
    text-align: center;
    font-family: 'Moirai One', cursive;
}

p {
    text-align: center;
    font-family: 'Diphylleia', serif;
}